<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'none'; connect-src 'self' http://localhost:3000;"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/recipe-s.css" />
        <link rel="stylesheet" href="/recipe-l.css" />
    <title>Document</title>
</head>
<body>
    <h1>Ready, Set, Bon-Apetite!</h1>
    <div class="results-container">
        <% recipes.forEach(recipe => { %>
            <a href="/recipe/<%= recipe.id %>">
                <div class="recipe-card">
                    <img class="recipe-image" src="<%= recipe.image %>" alt="<%=recipe.title %>" />
                    <h2 class="recipe-title"><%= recipe.title %></h2>
                </div>
            </a>
        <% }) %>       
    </div>
    <div class="back-to-home">
      <a href="/">Back to Home Page</a>
    </div>
</body>
</html>